/* 
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3 {
  color: brown;
  font-weight: 500;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 6rem 0 2 rem;
}

.section__title {
  font-weight: 500;
}

.section__subtitle {
  display: block;
  font-size: small;
  margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

/* layout */

/* .container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: inline-block;
  background-color: burlywood;
  color: black;
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: 500;
}

.button:hover {
  background-color: aqua;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

/* Responsiveness */

/* @media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 350px) {
} */ 